body{
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(#F2E8E9, #DFACB3);
    text-align: center;
    justify-content: center;
    font-family: arial;
    flex-direction: column;
    color: #333;
    /* max-height: 100vh; */
}
#navbar a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 40px;
  float: left;
  text-align: center;
  padding: 14px 20px;
}
#navbar {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  
  /* display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 0 20px;
  overflow: hidden;
}
.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}

.made{
    font-size: 30px;
    color: #1d3557;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 0 auto;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.made:hover{
    color: #4678e4;
    font-size: 35px;
    transition: .5s;

}
#navbar .contact{
  float: right;
}

a{
    text-decoration: none;
    color: #333;
}
.all{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-top: -77px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.card .face1{
  width: 300px;
  height: 300px;
  border-radius: 50px;
  transition:.4s;
}

.card .face2{
  width: 300px;
  height: 100px;
  transition: .5s;
  border-radius: 50px;
}

.card .face1{
  position: relative;
  background:  #1d3557;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card:hover .face1{
  transform: translateY(0);
  box-shadow:
  inset 0 0 60px whitesmoke,
  inset 20px 0 80px #f0f,
  inset -20px 0 80px #0ff,
  inset 20px 0 300px #f0f,
  inset -20px 0 300px #0ff,
  0 0 50px #fff,
  -10px 0 80px #f0f,
  10px 0 80px #0ff;
}

.card .face1 .content{
  transition:  0.5s;
  text-align: center;
}
  
.card .face1 .content h1{
  color: #ffffff;
  display: inline-block;  
}
  
.card .face1 .content{
  transition: .5s;
}
  
.card .face2{
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.card:hover .face2{
  transform: translateY(0);
}

.container .card .face2 .content p{
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.container .card .face2 .content p{
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}
a:link {
  text-decoration: none;
  color: #333;
}


.navbar {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  font-size: 30px;
}

.list-item {
  list-style-type: none;
  flex-basis: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #555;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.2s ease;
  cursor: pointer;
}

.list-item-name {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: -15px;
  position: absolute;
  transform: translate(0, 50px);
  transition: transform 0.5s ease, opacity 0.2s ease;
  opacity: 0;
}

.list-item:hover {
  transform: translateY(-6px);
}

.list-item:hover .list-item-name {
  transform: translateY(20px);
  opacity: 1;
}

.navbar-container  {
  font-size: 14px;
  display: flex;
  margin-bottom: 70px;;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

/* Responsive in mobile */
@media screen and (max-width: 768px) {
  #navbar {
    margin-bottom: 50px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

  .container {
      flex-direction: column;
  }
  .card {
      margin: 20px;
  }
  .card .face1 {
      width: 200px;
      height: 200px;
  }
  .card .face2 {
      width: 200px;
      height: 100px;
  }
  .card .face1 .content h1 {
      font-size: 20px;
  }
  .card .face2 .content p {
      font-size: 10px;
  }
  .navbar {
      width: 200px;
      height: 80px;
      font-size: 20px;
  }
  .navbar-container  {
      font-size: 12px;
      display: flex;
      padding: 0 12px;
      justify-content: space-between;
      align-items: center;
  }
  .made {
    font-size: 30px;
    color: #1d3557;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
}

@media only screen and (max-width: 1100px) {
  .container {
      flex-direction: column;
  }
  .card {
      margin: 20px;
  }
  .card .face1 {
      width: 200px;
      height: 200px;
  }
  .card .face2 {
      width: 200px;
      height: 100px;
  }
  .card .face1 .content h1 {
      font-size: 20px;
  }
  .card .face2 .content p {
      font-size: 10px;
  }
  .navbar {
      width: 200px;
      height: 80px;
      font-size: 20px;
  }
  .navbar-container  {
      font-size: 12px;
      display: flex;
      padding: 0 12px;
      justify-content: space-between;
      align-items: center;
  }
  .made {
    font-size: 30px;
    color: #1d3557;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
#navbar {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 0 20px;
  overflow: hidden;
}

}