* {
    margin: 0;
    padding: 0;
}
body  {
    margin: 0;
    padding: 0;
    font-family: 'SamsungOne', arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
}

#navbar a  {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;
}
#navbar {
    margin-bottom: 50px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.big-box  {
    width: 95%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


.galaxyflod-img  {
    width: 100%;
}

.product-name  {
    font-family: 'Samsung Sharp Sans', arial, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.btns{
    margin-bottom: 20px;
}

.product-description  {
    font-family: 'SamsungOne', arial, sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.dark-btn  {
    background-color: black;
    color: white;
    font-family: 'SamsungOne', sans-serif;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.dark-btn:hover {
    background-color :#f6f6f6;
    color: black;
}

@media only screen and (max-width: 1100px) {
    .big-box  {
        flex-direction: column;
        /* margin-top: 2rem; */
    }
    .container {
        flex-direction: column;
    }
    .one, .two, .three, .four {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .one, .two, .three, .four img {
        width: 200px;
    }
    .container > div {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {

    .big-box img{
        flex-direction: column;
    }

}

.feut{
    font-size: 30px;
    margin-top: 30px;
    font-family: 'SamsungOne', sans-serif;
    margin-left: 40px;

}

#camera
{

    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
}
#title_camera
{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#inf_camera
{
    display: none;
    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
    height: 500px;
    width: 300px;
    background-color:black;
    color: white;


}
#title_inf_camera
{
    font-size: 40px;
      font-family: fantasy;
}
#data_inf_camera
{
    font-size: 20px;
      font-family: monospace;
}
#pen
{

    margin-left:200px ;
    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
    width: 300px;
    height: 300%;
}

#Excellence{

    margin-left:200px ;
    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
    width: 300px;
    height: 300%;
}
#Built{

  margin-left:200px ;
  border: 7px solid beige;
  border-radius: 4px;
  transition: width 6s, height 6s;
  width: 300px;
  height: 300%;
}
#title_pen
{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title_Excellence
{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#title_Built{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 #inf_pen
{
    display: none;

    margin-left:200px ;
    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
    height: 500px;
    width: 300px;
    background-color:black;
    color: white;


}
#inf_Excellence
{
    display: none;
    margin-left:200px ;
    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
    height: 500px;
    width: 300px;
    background-color:black;
    color: white;


}
#inf_Built{
    display: none;
    margin-left:200px ;
    border: 7px solid beige;
    border-radius: 4px;
    transition: width 6s, height 6s;
    height: 500px;
    width: 300px;
    background-color:black;
    color: white;

}

#title_inf_pen
{
    font-size: 40px;
      font-family: fantasy;
}

#title_inf_Excellence
{
    font-size: 40px;
      font-family: fantasy;
}
#title_inf_Built
{
    font-size: 40px;
      font-family: fantasy;
}
#data_inf_pen
{
    font-size: 20px;
    font-family: monospace;
}
#data_inf_Built{
    font-size: 20px;
    font-family: monospace;
}
#data_inf_Excellence
{
    font-size: 20px;
    font-family: monospace;
}

#all
{
  align-items: center;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
