* {
    margin: 0;
    padding: 0;
}
body  {
    margin: 0;
    padding: 0;
    font-family: 'SamsungOne', arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
}

#navbar a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 40px;
  float: left;
  text-align: center;
  padding: 14px 20px;
}
#navbar .contact{
  float: right;
}

#navbar {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  
  /* display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 0 20px;
  overflow: hidden;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.big-box  {
    width: 95%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.small-box{
  flex-direction: column;
  width: 60%;
}


.product-img  {
    width: 90%;
    margin: 0px 5%;
}

.product-name  {
    font-family: 'Samsung Sharp Sans', arial, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.product-description  {
    font-family: 'SamsungOne', arial, sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.dark-btn  {
    background-color: black;
    color: white;
    font-family: 'SamsungOne', sans-serif;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.dark-btn:hover {
    background-color :#f6f6f6;
    color: black;
}
p {
    font-size: 20px;
    font-family: 'SamsungOne', arial, sans-serif;
    margin-top: 2rem;
}
.h1,.h3 {
    font-size: 3rem;
}

.feut{
    font-size: 30px;
    margin-top: 30px;
    font-family: 'SamsungOne', sans-serif;
    margin-left: 40px;

}

.cardimg img {
    width: 100%;
    transition: width 6s, height 6s;

}


 #Excellence , #Built , #pen , #camera{

    transition: width 6s, height 6s;
      padding-top: 175px;
}



#inf_Excellence , #inf_Built ,  #inf_pen , #inf_camera
{
    display: none;
    transition: width 6s, height 6s;
    background-color:black;
    color: white;
    padding-top: 175px;


}

#title_inf_pen ,#title_inf_Excellence , #title_inf_Built , #title_inf_camera
{
    font-size: 40px;
      font-family: fantasy;
      padding-left: 20%;
      padding-top: 7%;


}


#data_inf_pen , #data_inf_Built , #data_inf_Excellence , #data_inf_camera
{
    font-size: 20px;
    font-family: monospace;
    padding-left: 6%;
  }

#all
{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.carddes{
  display: none;
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-top: 175px;
  border-radius: 20px;
}


@media only screen and (max-width: 1100px) {
    .big-box{
        flex-direction: column;
        margin-top: 2rem;
          margin-top: 300px;
    }

    .allbtns  {
        flex-direction: column;
        margin-top: 300px;
    }

    #camera, #pen, #inf_pen ,#Excellence ,#inf_Excellence , #Built , #inf_Built ,#inf_camera{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .allbtns > div {
        margin-bottom: 2rem;
    }
    .carddes{
      display: none;
    }

    #navbar {
      margin-bottom: 50px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8);
      /* display: flex;
      flex-direction: row;
      justify-content: space-between; */
      align-items: center;
      padding: 0 20px;
      overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {

    .big-box{
        flex-direction: column;

    }

    .allbtns  {
        flex-direction: column;
        margin-top: 100px;
    }

    .carddes{
      display: none;

    }

    #navbar {
      margin-bottom: 50px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8);
      /* display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; */
      padding: 0 20px;
      overflow: hidden;
  }


}

.image {
    width: 40%;
}

/* animation normal*/
.slit-in-vertical {
	-webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  @keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
}
