* {
    margin: 0;
    padding: 0;
}
#navbar a  {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;
    float: left;
    text-align: center;
    padding: 14px 20px;
    /* box-shadow; */
}
#navbar .contact{
    float: right;
}
#navbar {
    margin-bottom: 50px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    
    /* display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    padding: 0 20px;
    overflow: hidden;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

body  {
    margin: 0;
    padding: 0;
    font-family: 'SamsungOne', arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
}

a  {
    text-decoration: none;
    color: #000;
}

.big-box  {
    width: 95%;
    height: 90vh;
    min-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}


.product-img  {
    width: 100%;
}

.product-name  {
    font-family: 'Samsung Sharp Sans', arial, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}


.product-description  {
    font-family: 'SamsungOne', arial, sans-serif;
    font-size: 15px;
}

.dark-btn  {
    background-color: black;
    color: white;
    font-family: 'SamsungOne', sans-serif;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.dark-btn:hover {
    background-color :#f6f6f6;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.container > div  {
    font-size: 30px;
    /* height: 300px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h1,h3 {
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
    font-family: 'Samsung Sharp Sans', arial, sans-serif;
    margin-top: 7rem;
    text-align: center;
}
p {
    font-size: 20px;
    font-family: 'SamsungOne', arial, sans-serif;
    margin-top: 2rem;
}
.card-txt {
    text-align: center;
    /* background-color: red; */
}
.align-btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    text-align: center;
}

.price p {
    font-size: 30px;
}

.card-img {
    text-align: center;
    width: 100%;
}
.card-img img {
    height: 170px;
    object-fit: cover;
    object-position: center center;
}
.navbar-container  {
    font-size: 14px;
    display: flex;
    margin-bottom: 70px;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
	height: 50px;
	background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1100px) {
    .big-box  {
        flex-direction: column;
        /* margin-top: 2rem; */
        margin-left: 40px;
        margin-top: 100px;
    }
    .product-description {
        max-width: 600px;
    }
    .container {
        flex-direction: column;
    }
    .one, .two, .three, .four {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .one, .two, .three, .four img {
        width: 200px;
    }
    .container > div {
        margin-bottom: 2rem;
    }
    #navbar {
        margin-bottom: 50px;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        align-items: center;
        padding: 0 20px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px) {
    
    .big-box img{
        flex-direction: column;
    }
    
    #navbar {
        margin-bottom: 50px;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8);
        /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; */
        padding: 0 20px;
        overflow: hidden;
    }
}


    
